body {
    font-family: "Microsoft YaHei UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #fff;
    bottom: 0;
    min-height: 100vh;
}

a, a:hover {
    color: #333;
}

.yellow-background {
    background-color: #ffc20b;
}

.main-card {
    min-height: 80vh;
}

.card {
    border: #ffc20b solid 1px !important;
    font-size: 1.1rem;
}

.add-friend {
    width: 150px;
}

.suggest_users {
    height: 100px;
    padding-top: 0px;
    padding-bottom: 0px;
    overflow: auto;
    white-space: nowrap;
}

.single_logo {
    /* This image is 687 wide by 1024 tall, similar to your aspect ratio */
    background-image: url('http://i.stack.imgur.com/Dj7eP.jpg');

    /* make a square container */
    width: 82px;
    height: 82px;

    /* fill the container, preserving aspect ratio, and cropping to fit */
    background-size: cover;

    /* center the image vertically and horizontally */
    background-position: top center;

    /* round the edges to a circle with border radius 1/2 container size */
    border-radius: 50%;

    display: inline-block;

    margin-right: 25px;
}

.card-header {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #ffc20b;
    border: none;
}

.less-padding {
    padding-left: 10px;
    padding-right: 10px;
}

.searchTerm {
    width: 100%;
    border: 3px solid #A7A8AC;
    padding: 15px;
    height: 36px;
    border-radius: 18px 18px;
    outline: none;
    color: #9DBFAF;
    background-color: transparent;
}

.searchTerm:focus{
    color: #00B4CC;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
}

.card > .table td {
    border: none;
}

.wrap{
    width: 350px;
    max-width: 25vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-primary {
    background-color: #ffc20b;
    border-color: #ffc20b;
}

.btn-primary:hover {
    background-color: #e6ac0b;
    border-color: transparent;
}

.searchButton {
    width: 40px;
    height: 36px;
    border: none;
    background: transparent;
    text-align: center;
    color: #A7A8AC;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}



.loginIcon {
    display: inline-block;
    height: 16px;
    width: 16px;
    vertical-align: text-top;
    padding-top: 20px;
    margin-right: 5px;
    background: url("/kaopu/static/theme/default/images/login-icon.svg") no-repeat;
}

.CodeMirror {
    font-family: "Microsoft YaHei UI", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    border: 1px solid #ddd;
}

.CodeMirror pre.CodeMirror-placeholder {
    color: #999;
}

.wrapper {
    background-color: rgb(36,37,41);
    width: 100%;
    min-height: 100vh;
}

.title {
    font-size: 1.1rem;
    font-weight: 500;
    padding-bottom: .5rem;
}

.title a:visited {
    color: #888
}

.nav-pills > li > a {
    position: relative;
    display: block;
    padding: 0 10px
}

.nav {
    line-height: 30px;
    font-size: 1.1rem;
}

.nav-pills .nav-link.active {
    background-color: transparent;
    font-weight: bold;
    font-size: larger;
}

.avatar {
    border-radius: 4px;
    width: 48px;
    max-width: 48px;
    vertical-align: middle;
}

.avatar-sm {
    width: 24px;
    max-width: 24px;
}

.avatar-lg {
    width: 64px;
    max-width: 64px;
}

.gray {
    font-size: .9rem;
    color: #999
}

.divide {
    border-top: 1px solid #eee;
}

.comment-detail-content {
    word-break: break-all
}

.topic-detail-content pre, .comment-detail-content pre {
    padding: 0;
    border: 0;
    background-color: #f8f8f8;
}

.topic-detail-content img {
    max-width: 100%;
}

.comment-detail-content img {
    max-width: 100%
}

.card table {
    margin-bottom: 0;
}

.card > .table td, .card > .table th {
    padding-left: 15px;
    padding-right: 15px;
}

.topic-detail-header {
    padding-bottom: 0
}

.topic-detail-title {
    margin-top: 0;
    font-weight: 500
}

.nocomment-tip {
    text-align: center;
    border: 2px dashed rgba(0, 0, 0, .1);
    border-radius: 4px;
    padding: 15px;
    line-height: 150%;
    margin-bottom: 20px;
}

.social_label:link, .social_label:visited {
    background-color: #f9f9f9;
    padding: 5px 15px 5px 6px;
    font-size: 14px;
    line-height: 100%;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
    outline: 0;
    margin: 5px;
    color: #778087;
}

.social_label:hover {
    background-color: #e9e9e9;
    outline: 0
}

.social_label:active {
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2) inset;
    outline: 0
}

.social_label > .fa {
    font-size: 24px;
    vertical-align: middle;
}

.tag-item {
    margin-bottom: 10px;
    padding-left: 10px;
    height: 100px;
    border-bottom: 1px solid #eee;
}

.excerpt {
    display: block;
    margin-top: 10px;
    overflow: hidden;
    height: 58px;
}

.payload {
    width: 100%;
    background-color: #f5f5f5;
    padding: 5px 10px;
    word-break: break-all;
    word-wrap: break-word;
    margin-top: 5px;
    margin-bottom: 5px
}

.payload img, .user_comments img {
    max-width: 100%
}

.payload p:last-child {
    margin-bottom: 0;
}

.fa-thumbs-up, .fa-thumbs-o-up, .fa-reply {
    cursor: pointer;
}

.fa-thumbs-up {
    color: #61a7e2;
}

.card {
    margin-bottom: 1rem;
}

/*.card, .btn, .alert, .form-control {*/
/*  -webkit-border-radius: 0;*/
/*  -moz-border-radius: 0;*/
/*  border-radius: 0;*/
/*}*/

.navbar {
    margin-bottom: 1rem;
    background-color: transparent;
    color: #ffffff !important;
    min-height: 120px;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.2rem;
}

@media (max-width: 768px) {
    .navbar {
        margin-bottom: 0;
    }

    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
        padding-right: 0;
        padding-left: 0;
    }

    .card {
        margin-bottom: 0;
    }

    .nocomment-tip {
        margin-bottom: 1px;
    }

    .tag-item {
        padding: 10px 15px;
    }

}

.comments .media {
    margin-top: 1rem;
}

.comments .media:first-child {
    margin-top: 0;
}

.welcome p:last-child {
    margin-bottom: 0;
}

@media (min-width: 1200px) {
    .container {
        min-width: 75vw;
    }
}
